---
layout: archive
---

{{ content }}

<h3>Hello!</h3>

<p>I'm Andrew Thompson, a Staff Software Engineer at
<a href="https://addepar.com">Addepar</a> in Edinburgh, UK, where I work on
the Forward Deployed Engineering team.</p>

<p>My career has taken me from building servers, to Telecom monitoring systems, including a <a
href="/projects/jLTE-Simulator/">PhD researching self-organisation in LTE networks</a>, to large
scale distributed systems at Amazon and data processing systems in fintech.</p>

<p>Outside of work I'm an avid reader across a wide range of subjects, from
classics and theology to technical and engineering books. I'm also actively
involved in the Christian community in Edinburgh, and enjoy the occasional
board game.</p>

<p>Feel free to explore the site or <a href="mailto:{{ site.email }}">get in touch</a>.</p>

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
